.logoImg {
    background-color: #fff;
    border-radius: 100px;
    width: 28px;
    height: 28px;
}

.table-row-light {
    background-color: rgba(59,130,246,.5);
}
.table-row-dark {
    background-color: #fbfbfb;
}